
.dia-bloco {
    background-color: brown;
    color: white;
    font-size:20px ;
    width: 85px;
    border: none;
    padding: 0px;
    border-radius: 16px;
}

.date-block {
    background-color: maroon;
    border-radius: 10px;
    color: white;
}

.table {
    width: 100px;
    /* background-color: rgb(145, 145, 145); */
}


.btn-dia {
    border-color: brown;
    color: white;
}

.btn-dia:hover {
    color: white;
    transform: scale(1.1);
}


.btn-dia:active {
    border: none;
    
    
}

