.quadro {
    width: 560px;
    margin: auto;
}

.board {
    max-width: 100%;
    background-color: brown;
    color: white;
    padding: 10px;
    border-radius: 16px;
}

a {
    text-decoration: none;
    color: white;
}





